<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hannah.hannahworld"
    android:installLocation="internalOnly"
    android:versionCode="23"
    android:versionName="0.10">
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21"
        android:maxSdkVersion="21"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Make Numbers"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MathActivity"
            android:label="Math"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MakeNumberActivity"
            android:label="Make Numbers"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMathActivity" />
        </activity>

        <service android:name=".BroadcastTimeCountService" />

        <activity
            android:name=".MainMathActivity"
            android:label="Make Numbers"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>

        </activity>
    </application>

</manifest>
